<script setup lang="ts">
    import { ref, watchEffect} from "vue";

    const props = defineProps(['data']);

    const image = ref();

    watchEffect(async () => {
        image.value = (await import(/* @vite-ignore */ `../assets/cards/${props.data.getImage}.svg`)).default
    })

</script>

<template>
    <div class="cards p-2">
        <img :class="props.data.type ? 'border border-success border-5 rounded-top' : '' " :src="image"/>
    </div>
</template>

<style scoped>

.cards img {
    height: 200px;
    margin: 0 5px;
}

</style>
