<script setup lang="ts">
    import Card from './Card.vue';

    const props = defineProps(['data']);

</script>

<template>
    <main>
        <div class="container border border-dark rounded">
            <div class="row">
                <div class="col-md-4">
                    <div class="d-flex flex-column justify-content-center h-100 p-2">
                        <h3>{{ `Player ${props.data.getId}` }}</h3>
                        <div class="player-score__circle">
                            <p>{{ props.data.getScore }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="p-2 overflow-scroll player-cards__overflow">
                        <div v-if="props.data.getCards.length > 0" class="d-flex flex-row">
                            <template v-for="(card, key) in props.data.getCards" :key="key">
                                <Card :data="card"/>
                            </template>
                        </div>
                        <div v-else class="card border-warning text-bg-light mb-3">
                            <div class="card-body">
                                <h5 class="card-title">Pending</h5>
                                <p class="card-text text-break">Click the draw button to begin the match.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>

<style scoped>

.player-score__circle {
    background: #413333;
    border-radius: 200px;
    color: white;
    height: 100px;
    font-weight: bold;
    width: 100px;
    display: table;
    margin: 10px auto;
}

.player-score__circle p {
    vertical-align: middle;
    display: table-cell;
    font-size:x-large;
    text-shadow: 2px 2px 4px #000000;
}

.player-cards__overflow::-webkit-scrollbar {
    display: none;
}

</style>
