<script setup lang="ts">
    import { mapState } from 'pinia';
    import { computed } from 'vue';
    import { toast } from 'vue3-toastify';

    import { Announcement } from './types/interfaces/announcement.interface';
    import { ANNOUNCEMENT_TYPE_SUCCESS, ANNOUNCEMENT_TYPE_INFO, ANNOUNCEMENT_TYPE_ERROR } from './types/types/announcement.type';
    import { useGameStore } from './stores/game';
    import Player from './components/Player.vue';

    const gameStore = useGameStore();

    const gameMapState = mapState(useGameStore, {
        deck: 'getDeck',
        players: 'getPlayers',
        announcement: 'getAnnouncement'
    })

    const cardDeckSize = computed(() : number => {
        return gameMapState.deck.length;
    });

    function drawCards() : void {
        gameStore.drawCard();
        showGameAnnouncement(gameMapState.announcement().show);
    }

    function rematch() : void {
        gameStore.rematch();
        showGameAnnouncement({ type: ANNOUNCEMENT_TYPE_SUCCESS, message: 'Game Rematch'});
    }

    function showGameAnnouncement(announcement : Announcement) {
        const {type, message} = announcement;
        switch (type) {
            case ANNOUNCEMENT_TYPE_SUCCESS: {
                return toast.success(message);
            }
            case ANNOUNCEMENT_TYPE_INFO: {
                return toast.info(message);
            }
            case ANNOUNCEMENT_TYPE_ERROR: {
                return toast.error(message);
            }
        }
    }

</script>

<template>
    <div class="container border border-dark rounded">
        <h3 class="display-4 fw-normal">Game Deck</h3>
        <div class="m-3">
            <template v-for="[key, player] in gameMapState.players()" :key="key">
                <Player :data="player"/>
            </template>
            <section class="mt-3">
                <div class="d-grid gap-6 d-md-block">
                    <button class="btn btn-primary m-1 btn-lg" type="button" @click="drawCards" :disabled="!(cardDeckSize === 0)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-joystick" viewBox="0 0 16 16">
                            <path d="M10 2a2 2 0 0 1-1.5 1.937v5.087c.863.083 1.5.377 1.5.726 0 .414-.895.75-2 .75s-2-.336-2-.75c0-.35.637-.643 1.5-.726V3.937A2 2 0 1 1 10 2z"/>
                            <path d="M0 9.665v1.717a1 1 0 0 0 .553.894l6.553 3.277a2 2 0 0 0 1.788 0l6.553-3.277a1 1 0 0 0 .553-.894V9.665c0-.1-.06-.19-.152-.23L9.5 6.715v.993l5.227 2.178a.125.125 0 0 1 .001.23l-5.94 2.546a2 2 0 0 1-1.576 0l-5.94-2.546a.125.125 0 0 1 .001-.23L6.5 7.708l-.013-.988L.152 9.435a.25.25 0 0 0-.152.23z"/>
                        </svg>
                        Draw
                    </button>
                    <button class="btn btn-danger m-1 btn-lg" type="button" @click="rematch">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
                            <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
                        </svg>
                        Rematch
                    </button>
                </div>
            </section>
        </div>
    </div>
</template>

<style scoped>

</style>
